.logo a {
background: url(graphics/j2/fuckswpe_J2/css/graphics/newlogo.png) no-repeat;
text-indent: -9000px;
width: 221px;
height: 46px;
display: block;
}


.mtemclub img {
  width: 160px;
  display: block;
}

@media (min-width:1024px) {
  .mtemclub img {
    float: right !important;
  }
}

@media (max-width: 1023px) {
  .mtemclub {
    width: 100%;
  }
  .mtemclub img {
    float: none;
  }
}

@media (max-width: 400px) {
  .mtemclub img {
    width: 100px;
  }
}