@import "//fonts.googleapis.com/css?family=Open+Sans|Poppins:400,700";
html, body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
}

a {
  color: #564B3D;
}

.navbar-default {
  background-color: black;
  border-color: unset;
  border: none;
  border-radius: unset;
  font-size: 1.5em;
  border-top: solid .1em white;
  border-bottom: solid .1em white;
  -webkit-filter: drop-shadow(0px 0px 0.5em black);
  filter: drop-shadow(0px 0px 0.5em black);
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

nav {
  z-index: 1001;
}

.navbar-brand {
  float: none;
  height: 50px;
  padding: 0px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-brand img {
  max-width: 310px;
}
@media (max-width: 388px) {
  .navbar-brand img {
    max-width: 200px;
  }
}

.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover {
  color: grey;
}

.navbar-nav > li > a {
  color: white;
  text-align: center;
  padding-bottom: 15px;
}
.navbar-nav > li > a:hover {
  color: grey;
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 2.5em;
  }
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 10px 10px;
  margin-top: 45px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }
}
.modal-content {
  color: #B19F87;
  padding: 15px;
}
.modal-content h2 {
  text-align: center;
}

.navbar-default .navbar-toggle {
  border-color: darkred;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.banner {
  margin-top: 144px;
}
.banner img {
  border-radius: 5px;
}

.panel-top {
  margin-left: 5%;
  top: 175px;
  position: absolute;
  height: auto;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
  background-color: #B19F87;
}
@media (min-width: 991px) {
  .panel-top {
    width: 400px;
  }
}
.panel-top h1 {
  text-align: center;
}
@media (max-width: 991px) {
  .panel-top {
    display: none;
  }
}

.panel-top-mobile {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #B19F87;
  width: 100%;
  max-width: 400px;
  border-radius: 5px;
}
.panel-top-mobile h1 {
  padding: 10px;
  text-align: center;
}

#signUpForm label {
  vertical-align: top;
  margin: 0 !important;
  padding: 0 !important;
  height: 30px !important;
  line-height: 30px !important;
  float: none !important;
  text-align: right !important;
  font-family: "Open Sans",Calibri,sans-serif !important;
  font-size: 14px !important;
  display: inline-block !important;
  font-weight: 700 !important;
  margin-bottom: 8px !important;
  width: 22% relative !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  color: #F8F8F8 !important;
}

.sec-panel {
  margin-top: 25px;
  background-color: white;
  border-radius: 5px;
  color: #564B3D;
  padding: 15px;
}
.sec-panel img {
  margin-left: auto;
  margin-right: auto;
}

.sec-panel-m {
  margin-top: 25px;
  background-color: white;
  border-radius: 5px;
  color: #564B3D;
  padding: 15px;
}
@media (min-width: 992px) {
  .sec-panel-m {
    display: none;
  }
}
.sec-panel-m img {
  margin-left: auto;
  margin-right: auto;
}

.browse {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}
.browse-button {
  display: block;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  font-weight: 700px;
}
.browse-button:hover {
  text-decoration: none;
  color: white;
  background-color: #564B3D;
}

.join {
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}
.join-button {
  display: block;
  width: 33%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  font-weight: 700px;
}
.join-button:hover {
  text-decoration: none;
  color: white;
  background-color: #564B3D;
}

.modal-content {
  background-color: #B19F87;
  color: #f8f8f8;
}

.top-pad {
  background-color: #F8F8F8;
  color: #564B3D;
  margin-top: 137px;
  border-radius: 5px;
  padding: 15px;
}

footer {
  border-top: solid .5em white;
  color: white;
  background: black;
  padding-top: 20px;
}

.llogo {
  -webkit-filter: drop-shadow(0px 0px 5em white);
  filter: drop-shadow(0px 0px 5em white);
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 105%;
  width: auto;
  height: auto;
  opacity: 1;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url("../img/videoposter.jpg") no-repeat;
  transition: 1s opacity;
  background-size: cover;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

#content .maincol {
  z-index: 1000;
  margin-top: 25px;
  margin-bottom: 25px;
  background: rgba(56, 56, 61, 0.7);
  text-align: center;
  border-radius: 5px;
  border: solid 3px #f99695;
  box-shadow: 0px 2px 2px #38383D;
  transition: all 1s ease-in-out;
}
#content .maincol h1 {
  font-size: 3.3em;
  font-weight: 900;
  color: #F0F1F4;
  text-shadow: 0px 1px 1px #38383D;
}
#content .maincol h1 span {
  font-size: 4rem;
}
#content .maincol p {
  font-size: 1.2em;
  color: #f99695;
  text-shadow: 0px 1px 1px #38383D;
}
#content .maincol .theform {
  margin-bottom: 15px;
  margin-top: 15px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#content .maincol .irow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}
#content .maincol .irow .icons {
  padding: 45px;
  margin: -32px auto;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(56, 56, 61, 0.7));
  filter: drop-shadow(0px 0px 5px rgba(56, 56, 61, 0.7));
  transition: all 1s ease-in-out;
}
@media (max-width: 700px) {
  #content .maincol .irow .icons {
    padding: 15px;
    margin: auto;
  }
}
#content .maincol .irow .icons img {
  height: 150px;
}
@media (max-width: 600px) {
  #content .maincol .irow .icons img {
    height: unset;
  }
}
#content .maincol .irow .icons h2 {
  margin-top: 2px;
  font-size: 1.2em;
  color: #F0F1F4;
  font-weight: 900;
  text-transform: uppercase;
  transition: all 1s ease-in-out;
}
#content .maincol .irow .icons:hover {
  -webkit-filter: drop-shadow(0px 0px 30px rgba(240, 241, 244, 0.7)) drop-shadow(0px 1px 1px black);
  filter: drop-shadow(0px 0px 30px rgba(240, 241, 244, 0.7)) drop-shadow(0px 1px 1px black);
}

.touchevents video {
  display: none;
}
.touchevents body {
  background: url("../img/ng2.gif") no-repeat center center;
  background-size: cover;
}
