/*  Skin Me  */
#submit, .submit, .data p span {background-color:#99CC00}
#submitfirst, .submit, .data p span {background-color:#99CC00}
#submitsecond, .submit, .data p span {background-color:#99CC00}
.results .loc, .subhead span, .loginHead, .best   {color:#99CC00}

body { background: url() repeat-x 0 0 #f5f5f5; font: 11px helvetica neue, helvetica, arial, sans-serif; line-height: 17px; color: #222; margin:0; padding:0; }
.logo { margin-top:5px; margin-left:5px; margin-bottom:5px; display:inline-block; position:relative!important; top:0!important; }
.logo img {height:30px;}
#header {display:none;}
a{
	color:#000!important;
	text-decoration: underline!important;
}
/* layout */
* { margin: 0; padding: 0; } 

.wrapper { width: 100%; max-width:600px; position: relative; margin: 12px auto; display: block; }

.myPic {position:relative; overflow:hidden; text-align:center; height:100%;}
#video.loadingVideo {height: 0;padding-bottom: 56%;}
.headline {  color:#222; font-size:12px; font-weight:bold;text-align: center; line-height:.8; position:absolute; bottom:5px; right:5px;  }
.myPic .online {position: absolute;background: #99cc00;color: white;border-radius: 5px;right: 10px;top: 10px;padding: 0 10px;text-shadow: -1px -1px 0px #536e00;filter: dropshadow(color=#536e00, offx=-1, offy=-1);font-weight: bold;}
.myPic img {width:98%; position:relative; z-index:0; margin:0px auto 5px 0px; }
form h2 {  color:#222; font-size:18px; font-weight:bold;  letter-spacing:-1px; text-align: center; line-height:.8;  }
.drop {bottom:20px!important;}

.regForm { width:98%; margin:0px auto; border:solid 1px #dbdbdb;margin-top:2px; }
.regForm h2 { background: #222; color: #fff; text-align: center; padding: 10px; border-radius:10px 10px 0 0; font-size:20px;}
#video_logo {display: none !important; visibility: hidden !important;}
.form {  }
.box-shdw { border-radius:10px; background:#fff; }
.results { float: right; margin-right: 40px; margin-top: 30px; text-align: center; width: 400px; font-size: 16px; height: 80px; background:url(../images/shdw.png) no-repeat 0 0; }
.results .loc { font-size: 30px; padding: 5px; display: block; font-weight: bold; }
#footer { text-align: center;  margin: 0px auto; margin-top: 10px; display: none; }
#footer p { display: none; }
#footer .left { float: left; }
.right { float: right; text-align: right; }
.footer_top + .left { display: none }
.clear { clear: both; margin: 0; padding: 0; }
.header {position:relative; z-index:1000;}
.subhead {position:absolute; right:10px; font-size:20px; text-align:right; bottom:5px; letter-spacing: -1px; }
.submit { text-align: center; display: inline; padding: 5px; background-image: url(../images/grdnt.png); background-position:center center; background-repeat:repeat-x; color: #fff;  border: 0px; cursor: pointer; -webkit-border-radius: 5px; border-radius: 5px;  }
.submit:hover { background: url(../images/grdnt.png) repeat-x center center #222; }
.steps {}

.pre-footer {background:url(../images/bottomline2.png) no-repeat bottom center; padding-bottom:30px; margin-bottom:10px; text-align:center;}
.badge {display:inline-block; background:url(../images/badge.png) no-repeat 0 0; width:174px; height:169px; margin:0px auto;}
.badge2 {display:inline-block; background:url(../images/badge.png) no-repeat 0 0; width:174px; height:169px; margin:0px auto;}
.badge_fa {display:inline-block; background:url(../images/badge_cg.png) no-repeat 0 0; width:174px; height:169px; margin:0px auto;}
.slideshow {float:left; display:inline-block; margin-left:20px; height:172px; width:760px; overflow:hidden; }
#mycarousel li { margin-right:8px;}
.clear {clear:both; margin:0; padding:0;}

.innerHead {text-align:center; font-size:16px; line-height:18px; padding:10px; background:#fefedb;}
.innerHead span {font-weight:bold; }
.thumby img {width:120px!important; height:150px!important;}

/* Footer Styles */
.legal { text-align: center;}
.login {float:left;}
.best {float:right; font-size:24px; text-align:right; letter-spacing:-1px; font-weight:bold; margin-top:5px; margin-right:10px;}

.foot label {font-weight:bold; margin-left:10px;}
.foot-logo {margin:0px auto!important; display: inline-block; margin-bottom:10px; opacity:0.3;}
.foot-line {background:url(../images/bottomline.png) no-repeat center top;  height:33px; display:block; margin-top:10px; margin-bottom:10px;}

/* joinFrom */

.r0 p b {display:block; font-size:14px;}
.r0 input[type="text"] {width:99%; height:30px; border:solid 1px #dbdbdb; background:#fff; }
.r0 select {height:30px; width:100%; border:solid 1px #dbdbdb; background:#fff;}

.form { width:90%; margin:0px auto;  }
#Fr1 p b, #Fr2 p b { display: block;  text-align: left;  padding-top: 2px; font-size:14px; }
#Fr1 p select, #Fr2 p select { height:30px; width:100%; border:solid 1px #dbdbdb; background:#fff; }
#Fr1 p input[type="text"], #Fr2 p input[type="text"] { width:99%; height:30px; border:solid 1px #dbdbdb; background:#fff; display:block }
#Fr1 select.birthday { width: 129px; }
#Fr1 select[name="mon"], #Fr1 select[name="day"] { margin-right: 4px; }
#Fr1 select[name="day"] { width: 66px; }
#Fr1 p, Fr2 p {  display: block; margin-bottom: 4px; }
#submit { text-align: center; display: inline-block; padding: 10px 0; background-image: url(../images/grdnt.png); background-position:center center; background-repeat:repeat-x; color: #fff; margin-top: 10px; border: 0px; cursor: pointer; -webkit-border-radius: 8px; border-radius: 8px; width: 100%; margin-bottom: 10px; font-size:20px; font-weight:bold; }
#submit:hover { background: url(../images/grdnt.png) repeat-x center center #222; }
#submitfirst { text-align: center; display: inline-block; padding: 10px 0; background-image: url(../images/grdnt.png); background-position:center center; background-repeat:repeat-x; color: #fff; margin-top: 10px; border: 0px; cursor: pointer; -webkit-border-radius: 8px; border-radius: 8px; width: 100%; margin-bottom: 10px; font-size:20px; font-weight:bold; }
#submitfirst:hover { background: url(../images/grdnt.png) repeat-x center center #222; }

#submitsecond { text-align: center; display: inline-block; padding: 10px 0; background-image: url(../images/grdnt.png); background-position:center center; background-repeat:repeat-x; color: #fff; margin-top: 10px; border: 0px; cursor: pointer; -webkit-border-radius: 8px; border-radius: 8px; width: 100%; margin-bottom: 10px; font-size:20px; font-weight:bold; }
#submitsecond:hover { background: url(../images/grdnt.png) repeat-x center center #222; }

.emailSub { text-align: center; line-height: 12px; font-size: 10px; color: #8A8A8A; float: none!important; margin-bottom: 15px!important; }
.agree { font-size: 9px; text-align: center; margin-top: 10px; padding:0 0px; }
.err { border: solid 1px red!important; color: red!important; }
#e, .e, .required.error { background: #fbdfdf!important;  font-weight: bold; color: red; border: solid 1px red!important; padding: 4px 0 2px 2px; }
.error {border:solid 1px red!important;} 

label.error {display:block; margin-top:5px;} 

.addr_p {clear:both;}
.addr_p b {}
.addr {display:block; margin-bottom:5px;}
textarea.about {margin-top:-18px;}
textarea {height:70px; border:solid 1px #dbdbdb; background:#fff;}

.p_country {margin-bottom:5px;}

.birthday.mon, .birthday.day, .birthday.year {width:31%!important; }

.about_p {margin-top:10px;}
.about_p strong {display:block; font-size:14px;}
.about_p small {display:none;}
kbd span {display:none;}

#Fr2 p {clear:both; margin-bottom:10px;}
#Fr2 p select {height:30px; width:100%; border:solid 1px #dbdbdb; background:#fff;}
.pr_Headline_p {clear:both; margin-top:10px;}
#Fr2 .about{ width:100%!important;}
#Fr2 p input[type="text"] {}
.address_b {padding-top: 10px;}
.pr_Headline_p strong {font-size:14px;}

.msg {margin-bottom:10px; margin-top:10px;}
.msg li { list-style: none; }
.msg li { margin: 0; padding: 0 0 0 10px; }
.msg li:before {content: "X"; font-weight: bold; font-size:10px; color: #fff; background: red; border-radius: 20px; height: 12px; width: 12px; line-height: 12px; text-align: center; padding: 0 3px; margin-right: 4px;}
#Fr2 h3 {border-bottom:solid 1px #dbdbdb; padding-bottom:5px; margin-bottom:10px;}

#displayName p {margin-bottom:0px!important;}

/* Hide */
.sub { display: block; clear:both; margin-bottom:5px; margin-top:-2px; } 
.sub #e {display:block;}
#csinfo {display:none;}
.footer {display:none}
#pre_footer, .shadow_900, #pop_login {display:none}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
#myVideo {height:224px;}
}

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 480px) {
#myVideo {height:338px;}
}

@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
	#myVideo {
		height:180px;
	}
}

.error {}

/* override for suggested users used in the 'too short' or 'username is take' warning */
div#e { text-align: center; background: #fbdfdf!important;font-weight: bold;color: red;border: solid 1px red!important;padding: 4px 0 2px 2px;font-size: 12px;}
.alt_logins {color: #000;font-size: 12px;}
.alt_logins u {color: blue;margin: 2px;padding: 2px;font-size: 12px;cursor: pointer;display: inline-block;}


/*  Skin Me  */
#submit, .submit, .data p span {background-color:#88ba7e}
#submit:hover, .submit:hover, .data p span:hover {background-color:#7caa73}
#submitfirst, .submit, .data p span {background-color:#88ba7e}
#submitfirst:hover, .submit:hover, .data p span:hover {background-color:#7caa73}
#submitsecond, .submit, .data p span {background-color:#88ba7e}
#submitsecond:hover, .submit:hover, .data p span:hover {background-color:#7caa73}
.results .loc, .subhead span, .loginHead, .best, .headline span   {color:#ff0000}
.regForm h2 {background: #aaa;}
.innerHead {background: #e4ede2;}
.subhead {font-size:20px;}

.fa {display:none;} .flt {display:block;}



/*  JOIN V2 
	========================================================================== */
.regForm.regFormAlt h2 {
	font-size: 30px;
	padding: 15px 10px;
}
.form.formContent {
	display:block;
	margin-top:10px;
	padding-bottom:20px;
}
	.form.formContent p {
		margin-bottom: 10px;
	}
		.form.formContent p.headingMd {
			clear: both;
			display: block;
			font-size: 26px;
			font-weight: bold;
			line-height: 1.1;
			margin: 0 auto 1em;
			text-align: left;
		}
			.headingMd.c2 {
				color: #bf0000;
			}
	.form.formContent p label {
		display: block;
		font-size: 26px;
		font-weight: bold;
		height: auto;
		line-height: 1;
		margin-bottom: 0.25em;
	}
		.form.formContent p label.checkfield {
			display: block;
			margin-left: auto;
			margin-right: auto;
			font-weight: normal;
			font-size: 13.5px;
			text-align: center;
		}
	.regForm.regFormAlt .inputField,
	.regForm.regFormAlt .r0 input[type="text"] {
		font-size: 20px;
		font-weight: bold;
		height: 2em;
		line-height: 2;
		padding: 0 0.5em;
		width: 96%;
	}
	.c3 {
		color: #00008b;
	}


.regForm.regFormAlt .btn.btnSubmit {
	color:#fff;
	display:block;
	font-weight:bold;
	margin: 10px auto;
	text-decoration:none;
}
.sampleProfiles {
	display: block;
	max-width: 300px;
	margin: auto;
}
.step3 .regForm.regFormAlt {
	text-align: center;
}
.regForm.regFormAlt iframe {
	margin: 1.5em auto;
}