body{background:#fff!important;font-family:arial}
.bigbox{width:100%;max-width:760px;margin:0 auto}
#sbutton{padding:15px;background:#3599DB;width:100%;color:#fff;border-radius:3px;border:none;font-size:25px;text-shadow:0 1px 1px rgba(0,0,0,0.5);-webkit-appearance: none;}
b.email_b,b.pwd_b,input,p b{width:25%;float:left;text-align:left;padding:10px 0;font-size:14px;font-weight:700}
input[type="text"],select{width:66%;float:right;padding:7px 0;font-weight:400;padding-left:2%;border-radius:4px;border:1px solid #ccc}
select{height:34px;font-size:14px}
input[type='submit']{text-align:center}
.email_p,.pwd_p{overflow:auto}
.bigbox p{overflow: visible;margin: 2px 0;clear: both;}
p.agree{text-align:center;font-size:10px;margin:50px 0 15px 0;padding:10px;padding:5px;}
.agree input{float:inherit;width:inherit}
.agree,.agree a{color:#444;text-decoration:none}
#display_pass{display:none}
.msg{margin:20px 0}
.sub+p{display:none}
.sub+.e{background:#ff0}
.msg div#e{background:#FFEBEA;font-weight:700;color:red;border:1px solid red;padding:10px;font-size:12px;text-align:center;margin-bottom:10px}
.sub div#e,#display_login{color: red;font-size: 11px;font-weight: 700;text-indent: 32%;display: block;overflow: auto;width: 100%;}
li{list-style:none}
select{width:68.3%}
.alt_logins u{color:purple;}
.footer{}
.err {border: 1px solid #ff7e7e !important;background: #ffeaea;}
input[type='button']{text-align:center}
p.disclosure {
	font-size:10px;
	padding-top: 5px;
	display: none!important;
}