.jsCheckHide {
          display: none;
      }

      #jsCheck{
       width: 250px;
       margin: 30px auto;
       text-align: center;
       background: #fff;
       padding: 5px 10px 10px;

       box-shadow: 0 0 5px #000;
       -moz-box-shadow: 0 0 5px #000;
       -webkit-box-shadow: 0 0 5px #000;

       border-radius: 10px;
       -moz-border-radius: 10px;
       -webkit-border-radius: 10px;
      }

		.FreezePaneOff {
      visibility: hidden;
      display: none;
      position: absolute;
      top: -100px;
      left: -100px;
   	}


    .FreezePaneOn {
        position: fixed !important;   
        top: 0px;
        left: 0px;
        visibility: visible;
        display: block;
        width: 100%;
        height: 100%;
        background-color: #111;
        z-index: 999;
        filter:alpha(opacity=85);
        -moz-opacity:0.85;
        padding-top: 20%;
   	}

   	.InnerFreezePane {
        font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
        text-align: center;
        width: 100% !important;
        overflow: hidden;
        position: fixed !important;
        background: none !important;
        color: #ccc;
        font-size: large;
        font-weight: bold;
        border: 0 !important;
        padding: 9px;
    }