        /*.obj overrides */
        @media (min-width: 992px) {
            .col-md-3 {
                width: 33%;
            }
        }
        .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
            position: relative;
            min-height: 1px;
        }
        .panel-title {
            margin-top: 0;
            margin-bottom: 0;
            color: inherit;
            font-size: 14px;
        }
        .row {
            margin-left: -15px;
            margin-right: -15px;
        }
        .panel {
            -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0.05);
            box-shadow: 0 0px 0px rgba(0,0,0,0.05);
        }
        .errors {
            width: 100%;
        }
        .errorsHead {
            padding: 10px 0 0 10px;
        }
        .header-h3{
           text-align: left; font-size: 16px; margin: 0 0 0 90px;
        }
        @media handheld, only screen and (max-width: 480px) {
            body{
                -webkit-text-size-adjust: none;
            }
            input[type=radio], input[type=checkbox] {
                width: 12px;
                height: 12px;
                opacity: 0.7;
            }
            .header-h3{
               font-size: 12px;color:red;
            }

			div.goBack {
				font-size: 10px;
			}

        }

        li.label p {
        	color: #555555;
        	text-align: left;
        	font-size: 14px;
        	margin-bottom: 0px;
            display:none;
        }

        div.form ul li {
        	list-style: none;
        }

        .whatsthis {
        	float: right;
            font-size: 10px;
        }

        h1 {
        	text-align: center;
        }

        li.terms {
        	font-size: 10px;
        	display: inline;
        }

        div.goBack {
		    text-align: right;
		    float: right;
		    margin-top: 10px;
        }

/*Turn on the Header*/
#header {
position: relative;
background-image: none;
background: #ffffff;
height: 60px;
border-bottom: 1px solid #e6e6e6;
z-index: 2;
margin: 0 0 1px;
padding: 0;
border-bottom:solid 1px #dbdbdb;
}
.logo {margin-top:8px;}
#header div.logo { float:left; width:181px; height:50px; margin-top:8px; padding:0; }

h2, .h2, h3 {
    color: #000 !important;
}

.err_msg {background:#ffeeee; margin:0px auto; padding:10px; border-radius:5px; -webkit-border-radius:5px;}
.error_ul {padding: 0px;}
.error_ul li {font-size:12px;}

.msg {
    color: red;
}

.top {
    /*min-height: 446px;*/
}

/* Fix sizing issues on smaller devices */
@media (max-width: 400px) { 
	div.logo > a {
		background-size: 80%;
	}
	div.goBack {
		float: none;
	}
	h2, .h2 {
		font-size: 24px;
	}
}