body {
    color: #3b434a;
}

.j2_header {
    background-color: #F5F7FA;
}

li.label p {
    color: #3b434a;
}

.terms_text {
    color:#6C6969;
}

.disclaimerHolder {
    color: #777777;
}

.err_msg {
    background: #ffeeee;
}

.msg {
    color: red;
}

.disclaimerHolder h2 {
    color: #333333;
}

#infoholder ul li {
    color: #000;
}

h4.secure {
    color: #e2097e;
}

/* blank skin styles here add colors or styles if needed */
#page {}

.description {}

#formHolder {}

.disclaimerHolder {}

#infoholder {}

#infoholder .panel {}

#infoholder .panel .panel-body {}

#infoholder .panel .panel-body .row {}

/* style the dynamic form inputs with these classes*/
.fields input[type="text"] {}

select[name='expM'], select[name='expY'] {}

select[name='country'] {width:180px;height:34px;}


.panel_as {
    width: 400px;
    margin: 0 auto;
    border: 0 solid transparent;
    box-shadow: none;
}

.panel_as .panel-heading {
    padding: 0px;
    background: transparent;
    border-color:transparent;
}

.panel_as .panel-heading h2 {
    padding: 0;
    font-weight: 500;
    font-size: 30px;
    line-height: .9;
    /*color: #00aa5b;*/
}

.panel-bg {
border: none;
    margin-left: 3px;
    margin-right: 3px;
    background: #EEEEEE !important;
    margin: auto;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 0px;
}

.panel-bg .subheader {
padding: 17px 0 7px 17px;
    font-weight: 700;
    font-size: 17px;
    line-height: .9;
    color: #111;
    text-align: left;
}

.panel_as .panel-body {
    padding-top:0px;
}

.panel-bg .subheader p {
    margin: 0 0 5px;
    color: #4F7F7A;
    font-weight: normal;
    font-size: 14px;
}

.input-group input, .input-group select, .form-group select {

}

.input-group select {
-webkit-appearance: none;
}

.col-lg-offset-4 {
    margin-left: 30%;
}

.col-lg-4 {
    width: 41%;
}

.btn-success {
    padding: 18px 12px;
    margin-bottom: 9px;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    background: #9dd245;
    background: -moz-linear-gradient(top, #9dd245 0%, #82be2a 100%);
    background: -webkit-linear-gradient(top, #9dd245 0%,#82be2a 100%);
    background: linear-gradient(to bottom, #9dd245 0%,#82be2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd245', endColorstr='#82be2a',GradientType=0 );
    border: 1px solid #000;
}

@media handheld, only screen and (max-width: 1200px) {
    .col-lg-4 {
        width: 100%;
    }
    .col-lg-offset-4 {
        margin-left: 0;
    }
}

/* media queries if need mobile styles*/
@media (max-width: 768px) {

}

@media handheld, only screen and (max-width: 485px) {
.panel_as {
    width: 100%;
}
}