html,body{height:100%}
body{padding:0;margin:0;background:#000;color:#fff;font-size:15px;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:transparent}
body,input,select,textarea,kbd{font-family:'Questrial',sans-serif;font-weight:400}
body.profile-body{padding:0}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
a{color:#fff;text-decoration:none}
ul{list-style-type:none}
ul,li{padding:0;margin:0}
h1,h2,h3,h4{padding:0;margin:0}
h1{text-transform:uppercase;font-weight:700;font-size:35px}
.column,.num-step,.step,p,form,#e,.footer,#age_p,kbd,.m-wrap,.m-wrap .left,.m-wrap .right{display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:column;-webkit-flex-direction:column;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center}
.row,.footer ul{display:-ms-flexbox;display:-webkit-flex;display:flex;flex-direction:row;-webkit-flex-direction:row;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center}
.footer ul{width:100%}
.disclosure{width:100%}
.step{display:none}
.step.show{display:flex}
select,input,form textarea{padding:10px;display:block;background-color:#4c4c4c;border:none;color:#fff;text-align:left!important}
select.error,#Fr2 select.error{background-color:rgba(255,0,0,0.5)}
#Fr2 .msg{margin:0 0 7px}
h1{color:#fff;font-size:35px;font-weight:800;letter-spacing:-2.5px}
.pwd_p b{margin-top:15px}
b,.new-b,.about_p strong{width:100%;color:#fff;margin:30px 0 10px;font-size:25px;font-weight:700}
.about_p strong{text-align:center;margin:0 0 7px}
form textarea{height:75px}
.wrap-all{width:100%;height:100%;max-height:1080px;background-size:auto 100%!important;margin:0 auto;padding:0 100px 0 0;position:relative;overflow:hidden}
.wrap-all.less-padding{padding-right:0;height:auto;min-height:100%}
form{width:100%}
form div,form input,form select,form b,form p,.step,#e,kbd,form textarea{width:100%}
.alt_logins{text-align:center;color:#000!important}
.alt_logins u{color:blue!important;cursor:pointer}
.btn{width:100%;background:#e60228;color:#fff;padding:25px 0;border-radius:100px;cursor:pointer;font-size:38px;font-weight:bolder;text-transform:uppercase;letter-spacing:2px;box-shadow:0 0 15px 1px #e60228;border:1px solid #ff344e}
.arrow-icon{width:30px;height:30px;fill:#fff;margin:0 0 0 15px}
.steps{width:100%;justify-content:space-between;margin:30px 0}
.steps.hide,.btn.hide,.counter.hide,.headline.hide{display:none!important}
.num-step{width:100%;justify-content:center;color:#fff}
.bar{width:100%;height:10px;background:#fff}
.num-step.selected .bar{background:#e60228}
.num-step span{margin:7px 0 0}
.counter{width:100%;position:relative;margin:20px 0}
.counter .number-count{font-weight:700;font-size:55px;color:#4c4c4c;line-height:93%}
.counter span{width:100%;text-align:center;color:#fff}
.loading,.congratulations,.your-approved{width:100%}
.check{width:100px;height:100px;fill:#fff}
.headline{display:inline-block;position:relative;padding:10px;color:#afafaf;font-weight:800;letter-spacing:-2.5px;text-transform:uppercase;font-size:47px;white-space:nowrap}
.headline::before,.headline::after{position:absolute;content:"";transition:all .25s}
.headline::before{border-bottom:6px solid #afafaf;border-left:6px solid #afafaf;width:30%;height:40%;left:-10px;bottom:-1px}
.headline::after{border-top:6px solid #afafaf;border-right:6px solid #afafaf;width:30%;height:40%;top:-1px;right:-10px}
.change::after,.change::before{width:103%;height:93%}
.wobble{animation-timing-function:cubic-bezier(0.445,0.05,0.55,0.95);animation:wobble 600ms 1}
#target{display:none}
@keyframes wobble {
0%{transform:scaleX(1) scaleY(1)}
06.25%{transform:scaleX(1.1) scaleY(0.9);letter-spacing:1px}
18.75%{transform:scaleX(0.9) scaleY(1.1);letter-spacing:.5px}
31.25%{transform:scaleX(1.05) scaleY(0.95);letter-spacing:2px}
43.75%{transform:scaleX(0.95) scaleY(1.05);letter-spacing:1px}
62.50%{transform:scaleX(1.025) scaleY(0.975);letter-spacing:1.5px}
81.25%{transform:scaleX(0.975) scaleY(1.025);letter-spacing:.75px}
100%{transform:scaleX(1) scaleY(1);letter-spacing:0}
}
@keyframes bounce {
0%{transform:scale(1.0)}
10%{transform:scale(1.2)}
20%{transform:scale(1.3)}
30%{transform:scale(1.2)}
40%{transform:scale(1.0)}
50%{transform:scale(1.1)}
60%{transform:scale(1.0)}
70%{transform:scale(1.05)}
80%{transform:scale(1.0)}
90%{transform:scale(1.02)}
100%{transform:scale(1.0)}
}
footer{width:100%;padding:15px;opacity:.5}
footer,footer ul{font-size:12px;flex-wrap:wrap;text-align:center}
footer li{margin:0 3px}
.logo{max-width:180px}
p{margin:0}
form input,form select,form textarea{font-size:22px;padding:15px}
.sub{text-align:center;margin:10px 0 0;font-size:12px}
.agree{text-align:justify;font-size:12px;margin:15px 0 0}
#e{padding:10px;background-color:#FCC7C9;width:100%;font-size:16px;font-weight:700;list-style:none!important;color:red;text-align:center;margin:5px 0}
.loading img{max-width:350px}
.loading img,.check{margin:40px 0 0}
.loading span,.congratulations,.your-approved span{font-weight:700;font-size:32px;text-align:center}
.msg{margin:20px 0 -10px}
.loading,.congratulations,.your-approved{min-height:350px;justify-content:flex-start}
#Fr2{margin:0 0 20px}
#Fr2 select,#Fr2 input,#Fr2 form textarea{background-color:rgba(76,76,76,0.5)}
#Fr2 h4{font-weight:700;font-size:27px;width:100%;text-align:center}
#Fr2 b{margin:10px 0 7px;font-size:18px}
#Fr2 b.address_b{margin:15px 0 0;height:auto}
#Fr2 kbd{margin:15px 0 0;align-items:flex-start;justify-content:flex-start}
#Fr2 kbd span{font-weight:700;margin:0 0 5px}
#Fr2 .p_mobile small{text-align:left}
#Fr2 .p_mobile a{text-decoration:underline}
#Fr2 .p_mobile small{margin:5px 0;font-size:11px;opacity:.7;text-align:center;width:100%}
#Fr2 .p_mobile .column{justify-content:flex-start;align-items:flex-start}
#Fr2 b,#Fr2 .p_mobile .row{margin:10px 0 7px}
#Fr2 .p_mobile .row{margin:15px 0 0}
.agree a{text-decoration:underline}
input.error-input{border:3px solid red}
.right-side{width:100%;max-width:400px;position:relative;z-index:100}
.main-img{height:100%;position:relative;z-index:0}
.m-wrap,.m-wrap .left{width:100%}
.m-wrap .right{display:none}
::placeholder{color:#fff;opacity:.7}
:-ms-input-placeholder{color:#fff;opacity:.7}
.loading-element{width:100%;margin-top:25px;position:relative}
.loading-element svg{display:block;position:absolute;top:0;left:0;right:0;margin:auto}
.loading_element_gradient stop:nth-child(1){stop-color:#e60228!important}
.loading_element_gradient stop:nth-child(2){stop-color:#eb8020!important}
.loading_element_gradient stop:nth-child(3){stop-color:#eb208c!important}
form input.err{border:3px solid #e60228}
#age_p.hide{display:none}
.labelcheck{width:100%}
.agree,.agree a,.sub{color:#8e8e8e}
.hide-input{display:none}
#display_pass,.email_p #e{display:block}
.btn::selection{background:none}
.btn::-moz-selection{background:none}
.btn::-webkit-selection{background:none}
.btn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.msg #e{display:block}
p.about_p .small_two{display:none!important}
.textCount{display:flex;width:100%;flex-direction:row;justify-content:flex-end}
.textCount.hide{display:none}
.charCount{width:100%;text-align:right}
.congrats_check{display:flex;width:100%;flex-direction:row;justify-content:flex-end;fill:#7ce95f}
.congrats_check svg{display:block;height:18px;width:18px;margin-right:5px}
.textCount .congrats_check svg{margin:0}
@media (max-width:1024px),(max-height:768px) {
.btn{padding:20px 0;font-size:28px}
.arrow-icon{height:25px;width:25px}
.headline{font-size:40px}
.counter{margin:10px 0}
}
@media (max-width:1023px),(max-height:767px) {
.m-wrap.push-up{margin:0}
.headline.hide{display:none}
.display-name-error .new-b{margin-top:0!important}
.wrap-all{padding:10px 0 15px;align-items:flex-start}
.main-img{position:absolute;top:0;bottom:0;margin:auto;opacity:.5}
.counter span{opacity:.7}
.counter .number-count{color:#fff;opacity:.7}
.headline{opacity:.7}
.m-wrap{flex-direction:row;margin:30px 0 0;align-items:flex-start}
.m-wrap.stage-2-wrap{margin:0}
.m-wrap .right{display:flex;margin:50px 0 0 20px}
.m-wrap .right.user-pass-push{margin-top:173px}
.m-wrap .right.m-push{margin-top:230px}
.m-wrap .right.m-push-email{margin-top:112px}
.btn{display:none}
.m-wrap .btn{display:flex;border-radius:50%;width:55px;height:55px;min-width:55px;min-height:55px;padding:0}
.arrow-icon{width:50%;height:50%;margin:0 0 0 3px}
form input,form select,form textarea{height:55px;padding:15px}
form textarea{height:75px}
.steps{margin:20px 0 0}
b{display:flex;align-items:flex-start;justify-content:flex-start;margin:0;height:30px}
.msg{margin:0}
#Fr1 .step{margin:20px 0 0}
.btn.stage-2-btn{display:flex;margin:10px 0 0}
.btn.stage-2-btn .arrow-icon{width:25px;height:25px;margin:0 0 0 7px}
#Fr2 b{height:auto}
}
@media (max-width:450px),(max-height:558px) {
.right-side{max-width:330px}
.headline{font-size:30px}
.counter{margin:15px 0 10px}
.m-wrap{margin:30px 0 0}
.m-wrap .right.user-pass-push{margin-top:176px}
form input,form select,form textarea{font-size:17px;background-color:rgba(93,93,93,0.6)}
#e{font-size:14px}
b{font-size:19px}
.new-b{font-size:17px}
#display_login{font-size:12px}
}
@media (max-height:767px) {
#Fr2 h4{font-size:21px}
form#Fr2 input,form#Fr2 select{padding-top:10px;padding-bottom:10px;height:auto;font-size:17px}
.btn.stage-2-btn{margin:0}
#Fr2 kbd span{margin:0 0 2px}
#Fr2 b.address_b,#Fr2 .p_mobile .row{margin:10px 0 0}
#Fr2 kbd{margin:10px 0 0}
}
@media (max-height:558px),(max-width:374px) {
.wrap-all{height:auto;min-height:100%}
.btn{padding:15px 0;font-size:22px}
.btn.stage-2-btn .arrow-icon{width:20px;height:20px}
#Fr2 b{font-size:14px}
#Fr2{margin:0 0 5px}
#Fr1 .step{margin:10px 0 0}
.m-wrap{margin:15px 0 0}
.loading span,.congratulations,.your-approved span{margin:30px 0 0}
.right-side{max-width:290px}
form input,form select{padding:0 0 0 7px}
.loading span,.congratulations,.your-approved span{font-size:24px}
.m-wrap.stage-2-wrap{margin:10px 0}
.m-wrap .right{display:flex;margin:40px 0 0 20px}
.m-wrap .right.m-push{margin-top:232px}
form textarea{padding:10px}
}
@media (max-height:558px) {
form#Fr2 input,form#Fr2 select{padding-top:9px;padding-bottom:9px;height:auto;font-size:14px}
#Fr2 .btn{padding:10px 0}
.m-wrap.stage-2-wrap{margin:0 0 5px}
#Fr2 b{margin:5px 0 3px}
#Fr2 kbd{margin:7px 0 0}
#Fr2 .p_country b{margin-top:0}
.btn.stage-2-btn{margin-bottom:15px}
}
@media (max-height:500px) {
form#Fr2 input,form#Fr2 select{padding-top:9px;padding-bottom:9px;height:auto;font-size:14px}
#Fr2 .btn{padding:10px 0}
.m-wrap.stage-2-wrap{margin-top:0}
}
@media (max-width:400px) {
#Fr2 h4{font-size:18px}
}
.p_mobile input::placeholder{color:#c1c1c1!important;opacity:.9!important}
.p_mobile input:-ms-input-placeholder{color:#c1c1c1!important;opacity:.9!important}
.p_mobile input::-ms-input-placeholder{color:#c1c1c1!important;opacity:.9!important}
.pr_Headline_p{display:none}
