/* this sheet should contain colors and NON-STRUCTURE related CSS
treat this as an override for color and background properties */
body {
}

.form-horizontal .control-label {
    color: #000;
}

.help-block {

}

button[type='submit'] span {
    color: yellow;
}

#my_j1 {
    
}

.btn-success {
    background: #e753cb;
    border-color: #e753cb;
	-webkit-box-shadow: 0.2em 0.2em 0.75em rgba(0,0,0,.3);
    -moz-box-shadow: .2em .2em .75em rgba(0,0,0,.3);
    box-shadow: 0.2em 0.2em 0.75em rgba(0,0,0,.3);
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success:active:hover {
    background: #C642BF;
    border-color: #C642BF;
}

.btn-lg {
    padding: 5px 8px;
}

.headline {
	color: #E049FF;
    font-size: 16px;
    margin-top: 5px;
}

.form-group {
    margin-bottom: 8px;
}

h2.pinkBg {
    margin:0px;
    font-size: 21px;
    padding:10px;
    color: #fff;
    background-color: #ff9000;
}

.third h2 {
    color:#ff9000;
    margin-top: 90px;
}
.btn {
    background: #ff9000;
}


/* style inputs for safedate*/


/* media queries for mobile device if necessary */
@media handheld, only screen and (max-width: 767px) {

}