body {
    background: none;
}

html {
    background:rgb(0, 0, 0);
    height: 100%;
    overflow-x: hidden;
}

.full-width {
    width: 100%;
}

.no-pad {
    padding: 0px;
}

hr {
    margin-top:10px;
    margin-bottom: 10px;
}

.logo {
    max-width: 200px;
    padding-top:30px;
    padding-bottom: 10px;
}

.darkBg h1 {
    padding: 8px;
    border: 2px solid #fff;
    border-left: 0;
    border-right: 0;
    color: #f3c;
    font-weight: 700;
    font-size: 2em;
    margin: 30px auto;
}

.first_block {
    overflow:hidden;
    position:relative;
    min-height: 625px;
}

.first_block img {
    position: absolute;
    left: 0px;
    z-index: -1;
    width: 100%;
    top: -8px;
    height: auto;
}

.first_block p {
    font-size: 21px;
    color: #fff;
}

.darkBg {
    margin-top: 80px;
    padding:30px;
}

.bold {
    font-weight:600;
}

.third {
    background-color:#ecf0f3;
    min-height: 510px;
}

.third h2{
    font-size: 40px;
}

.green {
    color:rgb(0, 145, 0);
}
.first h2{
    font-size: 20px;
    padding: 10px;
    width: 100%;
}

.pinkbox {
    border: 1px solid #ffd2f6;
    background: #ffd2f6;
    width: 100%;
    padding: 10px;
    margin-bottom: 3px;
    font-size: 11px;
}


/* form styles*/
.form-horizontal .control-label {
    text-align: left;
    font-weight: normal;
    padding-top: 0px;
    color: #000;
}

input.form-control {
    height: 32px;
    border-radius: 0px;
    border:none;
    box-shadow: none;
    border-bottom: 1px dotted #f3c;
}

.form-horizontal .control-label span.help {
    font-size: 9px;
    position: absolute;
}

.help-block {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* error styles*/
.eOut {
    color: #fff;
    background-color: #DA0042;
    font-size: 10px;
    line-height: normal;
}

#my_j1 table {
    width: 100%;
}

.errors {
    width:100%;
}

button[type='submit'], .btn {
    border-radius: 1em;
    border:none;
}

button[type='submit'] span {
    color: yellow;
}

#my_j1 {
    
}

label {
    font-size: 10px;
    font-weight: bold;
    color: #000;
    display: none;
}

input.form-control {
    border-radius: 0px;
    border: none;
    box-shadow: none;
    border:1px solid #898989;
    height: 34px;
    padding: 6px 12px;
    border-radius: 5em;
}
input.form-control:hover,
input.form-control:focus {
    border: 1px dotted #f3c;
}
.full-width {
    position: relative;
    height: 100vh;
}
.container.mids {
    border: 1px solid #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#F {
    text-align: center;;
}
#F .form-group {
    width: 48%;
    display: inline-block;
}
#F .form-group:nth-last-of-type(1),
#F .form-group:nth-last-of-type(2) {
    width:91%;
}
.prolevel {
    position: relative !important;
    width: 45% !important;
    margin: 0px auto 9px !important;
    display: block !important;
    min-width: 100px;
    max-width: 240px;
    border: 1px solid #FFF;
    border-radius: 6px;
}
.icons {
    position: relative !important;
    display: inline-block !important;
    vertical-align:text-bottom !important;
    width: 20px !important;
    margin: 0px auto -5px !important;
}
.darkBg p {
    width: 80% !important;
    margin: 0px auto !important;
    text-align: center !important;
}
.darkBg p span {
    color: #ff9000
}
.darkBg p.addthis {
    width: 90% !important;
    margin:-59px auto 21px !important;
    text-align: center !important;
}
/* media queries for mobile device if necessary */
@media (min-width: 1200px) {
}
@media (min-width: 768px) and (max-width: 991px) {
}
@media only screen and (max-width : 768px) {
}
@media (min-width: 200px) and (max-width: 767px) {
    .control-label.no-pad {
        padding-left: 15px;
        padding-right: 15px;
    }
    .form-horizontal .control-label span.help {
        position: relative;
        display: block;
    }
    .logo {
        max-width: 150px;
        padding-top:15px;
        padding-bottom: 5px;
    }
    .first_block {
        min-height:auto;
    }
    .first_block img {
        width:113%;
        top:0px;
    }
    .first_block img.prolevel {
        top:0px !important;
        position: relative !important;
        margin:30px auto 7px !important;
    }
    .darkBg {
        background: transparent;
        margin-top: 5px;
        padding: 30px 30px 11px;
    }
    .third h2{
        font-size: 20px;
    }
    .container.mids {
        border:none !important;
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
    .icons {
        margin: 0px auto 2px !important;
    }
    #my_j1,
    .third {
        padding: 0px;
    }
    .third {
        min-height: 410px;
    }
    .third h2 {
        margin-top: 20px !important;
    }
    .darkBg p.addthis {
        margin: -20px auto -20px !important;
        width: 100% !important;
    }
    .third h2{
        font-size: 25px;
        line-height: 20px;
        margin: 0px;
    }
    .first_block p {
        font-size: 11px;
        line-height: 16px;
    }
    .icons {
        width: 9px !important;
    }
    .col-sm-6.text-center.third p {
        padding: 6px 14px 0px !important;
    }
}
@media (min-height:0px) and (max-height:900px){
    .container.mids {
        position:relative !important;
        top:2% !important;
        left:0 !important;
        transform:translate(0%, 0%) !important;
    }
    .third h2 {
        margin-top:40px !important;
        margin-bottom:2% !important;
    }
}