body {
		background-color: white;
}
.df2013dxv1 {
		margin: 0 auto;
		padding: 0;
		max-width: 482px;
		width: 100%;
		font-size: 12px;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
		text-align: left;
}
.df2013dxv1 *, .df2013dxv1 *:before, .df2013dxv1 *:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		box-sizing: border-box;
}
.df2013dxv1 .cf:before, .df2013dxv1 .cf:after {
		display: table;
		content: "";
}
.df2013dxv1 .cf:after {
		clear: both;
}
.df2013dxv1 .cf {
		zoom: 1;
}
.df2013dxv1 h1 em, .df2013dxv1 .hr, .df2013dxv1 .c_check, .df2013dxv1 .cc_small, .df2013dxv1 .cc_large, .df2013dxv1 .whatsthis i, .df2013dxv1 .errormessage i {
		background: url(/images/CitySex/df2013dxv1-sprite.png) no-repeat 0 0;
}
.df2013dxv1 .c_check {
		width: 24px;
		height: 24px;
		background-position: -60px 0;
		cursor: pointer;
}
.df2013dxv1 .c_check.hover {
		background-position: -84px 0;
}
.df2013dxv1 .c_check.checked {
		background-position: -108px 0;
}
.df2013dxv1 .c_check.checked.hover {
		background-position: -132px 0;
}
.df2013dxv1 .cc_large {
		margin: 0 auto 20px;
		width: 133px;
		height: 40px;
		background-position: -60px -25px;
}
.df2013dxv1 .secure img {
		margin: 0 auto;
		max-width: 426px;
		width: 100%;
		height: auto !important;
}
.df2013dxv1 .cc_small {
		background-position: -156px 0;
}
.df2013dxv1 .hr {
		clear: both;
		margin: 20px 0;
		width: 100%;
		height: 2px;
		background-position: 0 -66px;
		background-repeat: repeat-x;
}
.df2013dxv1 em {
		font-style: normal;
}
.df2013dxv1 a {
		color: #428bca;
}
.df2013dxv1_header {
		text-align: center;
		color: #e04824;
		text-transform: uppercase;
		font-size: 25px;
		font-weight: bold;
		line-height: 40px
}
.df2013dxv1_header em {
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
		text-align: center;
		color: #e04824;
		text-transform: uppercase;
		font-size: 25px;
		font-weight: bold;
		line-height: 50px;
}
.df2013dxv1 .box {
		padding: 20px;
		-webkit-border-radius: 0 0 5px 5px;
		-moz-border-radius: 0 0 5px 5px;
		border-radius: 0 0 5px 5px;
		background: #f5f5f5;
		min-height: 350px;
}
.df2013dxv1 h1 {
		overflow: hidden;
		margin: 0 0 10px;
		padding: 0;
		height: 21px;
		color: #e04824;
		text-align: left;
		text-shadow: 1px 1px 0 #ffffff;
		letter-spacing: -0.05em;
		font-weight: 700;
		font-size: 14px;
		line-height: 21px;
}
.df2013dxv1 h1 em {
		display: inline;
		float: left;
		margin-right: 7px;
		width: 60px;
		height: 61px;
		background-position: 0 0;
		color: #f2bb00;
		text-align: center;
}
.df2013dxv1 .submit {
		margin: 0 0 10px 0px;
		padding: 15px 0;
		width: 100%;
		border: 0;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border: 1px solid #e04824;
		background: #e04824;;
		color: #ffffff;
		text-align: center;
		letter-spacing: -0.05em;
		font-weight: 700;
		font-size: 18px;
		line-height: 30px;
		cursor: pointer;
		-webkit-appearance: none;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif !important;
}
.df2013dxv1 .submit.hover {
		background: #e04824;
}
.df2013dxv1 ul {
		margin: 0 0 -9px;
		padding: 0;
		list-style: none;
}
.df2013dxv1 input[type=text], .df2013dxv1 input[type=password], .df2013dxv1 select {
		display: inline;
		float: left;
		padding: 10px;
		width: 100%;
		height: 40px;
		border: 1px solid #d9d9d9;
		background: #ffffff;
		color: #666666;
		font-size: 12px;
}
.df2013dxv1 .header_labels, .df2013dxv1 small {
		text-align: left;
}
.df2013dxv1 small {
		display: block;
		clear: both;
		margin-bottom: -2px;
		color: #666666;
		text-shadow: 1px 1px 0 #ffffff;
		font-size: 11px;
		line-height: 12px;
}
.df2013dxv1 .onethird label {
		margin-bottom: 2px;
		color: #e04824;
		text-shadow: 1px 1px 0 #ffffff;
		letter-spacing: -0.05em;
		font-weight: 700;
		font-size: 11px;
		line-height: 12px;
}
.df2013dxv1 .onethird {
		display: inline;
		float: left;
		margin-right: 9px;
		width: 94px;
}
.df2013dxv1 .onehalf {
		display: inline;
		float: left;
		margin-right: 10px;
		width: 145px;
}
.df2013dxv1 .onethird.last, .df2013dxv1 .onehalf.last {
		margin-right: 0;
}
.df2013dxv1 .terms {
		position: relative;
		padding: 4px 0 0 85px;
		text-align: left;
		text-shadow: 1px 1px 0 #ffffff;
		font-size: 12px;
		line-height: 16px;
}
.df2013dxv1 .terms select {
		position: absolute;
		top: 0;
		left: 0;
		width: 75px;
		border-color: #f5f5f5;
		background: #f5f5f5;
}
.df2013dxv1 .extra {
		position: relative;
		margin: 20px 0 0;
		text-align: center;
		text-shadow: 1px 1px 0 #ffffff;
		font-size: 12px;
		line-height: 24px;
}
.df2013dxv1 .extra .c_check {
		display: inline-block;
		margin-right: 5px;
		vertical-align: middle;
		zoom: 1;
*display: inline;
}
.df2013dxv1 .extra .c_check input {
		display: none;
}
.df2013dxv1 .terms a {
		font-weight: 700;
}
.df2013dxv1 .cc_small {
		position: absolute;
		top: 8px;
		right: 8px;
		width: 80px;
		height: 24px;
}
.df2013dxv1 .whatsthis {
		display: inline;
		float: left;
		padding: 11px 0;
		text-decoration: none;
		font-size: 11px;
		line-height: 18px;
}
.df2013dxv1 .whatsthis i {
		display: inline;
		float: left;
		margin-right: 5px;
		width: 18px;
		height: 18px;
		background-position: -193px -24px;
}
.df2013dxv1 .whatsthis:hover {
		text-decoration: underline;
}
.df2013dxv1 .fineprint {
		padding: 20px 0 0;
		text-align: center;
		font-size: 12px;
}
.df2013dxv1 .fineprint p {
		margin: 0 0 20px;
}
.df2013dxv1 .fineprint p.last {
		margin: 0;
}
.df2013dxv1 .fineprint p.small {
		font-size: 10px;
}
.df2013dxv1 .errormessage {
		display: none;
		clear: both;
		padding: 5px 0;
		color: #ff0000;
		font-weight: bold;
		font-size: 11px;
		line-height: 16px;
}
.df2013dxv1 .errormessage i {
		display: inline;
		float: left;
		margin-right: 5px;
		width: 14px;
		height: 14px;
		background-position: -211px -25px;
}
.df2013dxv1 .errormessage p {
		clear: both;
		margin: 0;
		padding: 0;
}
.df2013dxv1 .fbsmall_01 img {
		width: 442px;
		height: 280px;
		margin: 0 auto;
		border: 0;
}
.df2013dxv1 .fbsmall_02 img {
		width: 442px;
		height: 280px;
		margin: 0 auto;
		border: 0;
}
.df2013dxv1 .fbsmall_03a img {
		width: 442px;
		height: 152px;
		margin: 0 auto;
		border: 0;
}
.df2013dxv1 .fbsmall_03b img {
		width: 442px;
		height: 60px;
		margin: 0 auto;
		border: 0;
}
.df2013dxv1 .fbsmall_03a, .df2013dxv1 .fbsmall_03b, .df2013dxv1 .fbsmall_03_info {
		float: left;
		width: 100%;
		display: block;
}
.df2013dxv1 .fbsmall_03_info {
		background: #ffffff;
		text-align: center;
		font-size: 14px;
		line-height: 16px;
		padding: 10px 0;
		color: #e04824;
}
.df2013dxv1 .fbsmall_03_info p {
		margin: 0 0 10px;
		padding: 0;
}
.df2013dxv1 .fbsmall_03_info p:last-child {
		margin: 0;
}
.df2013dxv1 .fbsmall_03_info strong {
		display: block;
		font-weight: 700;
		margin: 0 20px;
		padding: 5px;
		background: #e04824;
		color: #ffffff;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
}
/* pop */
#df2013dxv1_fade {
		background: #000;
		display: none;
		height: 150%;
		left: 0;
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
		filter: alpha(opacity=50);
		opacity: 0.5;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9999
}
.df2013dxv1_overlay {
		border: 0;
		display: none;
		float: left;
		left: 50%;
		padding: 0;
		position: fixed;
		top: 50%;
		z-index: 99999;
		background: #000;
		border: 5px solid #fff;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0 0 20px 0 #000;
		-webkit-box-shadow: 0 0 20px 0 #000;
		box-shadow: 0 0 20px 0 #000;
		height: 390px;
		padding: 5px;
		width: 894px
}
*html #df2013dxv1_fade, *html .df2013dxv1_overlay {
		position: absolute;
}
.df2013dxv1_overlay img {
		border: 0;
		width: 894px;
		height: 390px;
		position: absolute;
		top: 5px;
		left: 5px;
}
.df2013dxv1_overlay div.success_info {
		position: absolute;
		color: #ffffff;
		width: 380px;
		left: 35px;
		top: 115px;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
		font-size: 18px;
		height: 170px;
		text-align: center;
		padding: 20px;
}
.df2013dxv1_overlay div.success_info p {
		margin: 0 0 20px;
}
.df2013dxv1_overlay div.success_info p strong {
		display: block;
		font-weight: 700;
		margin: 0 20px;
		padding: 5px;
		background: #e04824;
		color: #ffffff;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 5px;
}

/* safari select height */
@media screen and (-webkit-min-device-pixel-ratio:0) {
.df2013dxv1 select {
		line-height: 34px;
}
}
/* ie7 fix some stuff */
.df2013dxv1 select {
*font-size:12px;
 *padding:0 0 5px;
 *height:36px;
 *border-collapse:collapse;
}
.df2013dxv1 input[type=text], .df2013dxv1 input[type=password] {
*width:298px;
 *padding:0;
}
.df2013dxv1 div.onethird input[type=text] {
*width: 92px;
}
.df2013dxv1 div.onehalf {
*width: 143px;
}
.df2013dxv1 .terms select {
*width:75px;
}
.df2013dxv1_header {
*background: #0d385a;
}
.df2013dxv1 .submit {
*background: #f5cb00;
}
.df2013dxv1 .submit.hover {
*background: #f2bb00;
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
.df2013dxv1 {
		margin: 0 auto 10px;
		width: 95%;
}
.df2013dxv1 .box {
		padding: 10px;
}
.df2013dxv1 li.label, .df2013dxv1 li.inputs {
		width: 100%;
		line-height: normal;
}
.df2013dxv1 li.label {
		margin: 0;
}
.df2013dxv1 li.label.with_headers {
		margin: 0 0 10px;
}
.df2013dxv1 .onethird {
		margin: 0 0 10px;
		width: 100%;
}
.df2013dxv1 .onethird.last {
		margin-bottom: 0;
}
.df2013dxv1 .onehalf {
		width: 48%;
}
.df2013dxv1 .onehalf.last {
		float: right;
}
.df2013dxv1_header {
		font-size: 24px;
}
.df2013dxv1 h1 {
		font-size: 16px;
}
.df2013dxv1 .submit {
		font-size: 18px;
}
.df2013dxv1 .terms select {
		border-color: #d9d9d9;
}
.df2013dxv1 .fbsmall_01 img, .df2013dxv1 .fbsmall_02 img, .df2013dxv1 .fbsmall_03a img, .df2013dxv1 .fbsmall_03b img {
		width: 100%;
		height: auto !important;
}
}
/* oldschool */
.df2013dxv1 p {
		position: relative;
		display: inline;
		float: left;
		margin: 0 0 9px;
		padding: 0;
		width: 100%;
}
.df2013dxv1 p.pwd_p {
		margin-bottom: 0;
}
.df2013dxv1 #displayName p {
		margin-bottom: 0;
}
.df2013dxv1 kbd {
		display: inline;
		float: left;
		margin-right: 9px;
		width: 94px;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
		margin-bottom: 2px;
		color: #e04824;
		text-shadow: 1px 1px 0 #ffffff;
		letter-spacing: -0.05em;
		font-weight: 700;
		font-size: 11px;
		line-height: 12px;
}
.df2013dxv1 kbd.zip {
		margin-right: 0;
}
.df2013dxv1 p > b {
		clear: both;
		float: left;
		display: inline;
		margin-right: 2px;
		width: 140px;
		color: #e04824;
		text-shadow: 1px 1px 0 #ffffff;
		letter-spacing: -0.05em;
		font-weight: 700;
		font-size: 13px;
		line-height: 40px;
}
.df2013dxv1 b.address_b {
		margin-top: 12px;
}
.df2013dxv1 p input[type=text], .df2013dxv1 p input[type=password], .df2013dxv1 p select {
		display: inline;
		float: left;
		padding: 10px;
		width: 100%;
		height: 40px;
		border: 1px solid #d9d9d9;
		background: #ffffff;
		color: #666666;
		font-size: 12px;
}
.df2013dxv1 p input[type=text] {
		width: 300px;
}
.df2013dxv1 p input[type=password] {
		width: 300px;
}
.df2013dxv1 p select {
		width: 300px;
}
.df2013dxv1 p kbd input[type=text] {
		width: 94px;
}
.df2013dxv1 .sub {
		margin-left: 142px;
		display: block;
		clear: both;
		margin-bottom: 9px;
		color: #666666;
		text-shadow: 1px 1px 0 #ffffff;
		font-size: 11px;
		line-height: 12px;
}
.df2013dxv1 p.agree {
		/*padding-left: 24px;
		position: relative;
		text-align: center;*/
		font-size: 10px;
		text-align: justify;
		float: none;
}
.df2013dxv1 p.agree a {
		text-decoration: underline;
		color: inherit;
}
.df2013dxv1 p.agree input {
		left: 0;
		top: 0;
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
.df2013dxv1 p {
		width: 100%;
		line-height: normal;
}
.df2013dxv1 p > b {
		width: 100%;
		line-height: normal;
}
.df2013dxv1 b.address_b {
		margin: 0 0 10px;
}
.df2013dxv1 kbd {
		clear: both;
		margin: 0 0 10px;
		width: 100%;
}
.df2013dxv1 p input[type=text], .df2013dxv1 p input[type=password], .df2013dxv1 p select {
		clear: both;
		float: none;
		width: 100%;
}
.df2013dxv1 p kbd input[type=text] {
		clear: both;
		float: none;
		width: 100%;
}
.df2013dxv1 .sub {
		margin-left: 0;
}
}
/* fix some oldschool stuff in ie7 */
.df2013dxv1 .box {
*width:442px;
}
.df2013dxv1 kbd input[type=text] {
*width: 92px;
}
.df2013dxv1 p input[type=text], .df2013dxv1 p input[type=password] {
*width:278px;
*padding:0 10px;
*line-height:36px;
}
.df2013dxv1 p select {
*width:298px;
*padding:0 10px;
*line-height:36px;
}
.df2013dxv1 p kbd input[type=text] {
*width: 72px;
}
.df2013dxv1 form {
*margin:0;
*padding:0;
}
#display_pass {
*width:298px;
}
div.msg #e {
		margin: 0px auto 15px auto;
		font-weight: bold;
		background-color: #FFC0C0;
		padding: 10px;
}
div.msg li {
		padding: 5px;
}
.title {
		font-size: 25px;
		font-weight: bold;
		font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
		line-height: 36px;
}
.df2013dxv1 .box p input.err,  .df2013dxv1 input[type=text].error,  .df2013dxv1 input[type=password].error,  .df2013dxv1 select.error {
		border-color: #ff0000;
		background: #fffafa;
}
.display_login {
		display: none
}
.display_pass {
		display: none
}