/*
 	  _ _      _                              
   __| (_) ___| | ___ __ ___   __ _ _ __  ___ 
  / _` | |/ __| |/ / '_ ` _ \ / _` | '_ \/ __|
 | (_| | | (__|   <| | | | | | (_| | | | \__ \
  \__,_|_|\___|_|\_\_| |_| |_|\__,_|_| |_|___/design.com

*/

* { margin:0; padding:0; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; list-style: none; }
body { margin:0; background: #c9d0d6; font-family: Arial, Helvetica, sans-serif; font-size:11px; line-height:1.3em; color: #000; }
table { border-collapse:separate; border-spacing:0; }
caption, th, td { text-align:left; font-weight:normal; }
table, td, th { vertical-align: middle; }
blockquote:before, blockquote:after, q:before, q:after { content:""; }
blockquote, q { quotes:"" ""; }
a img { border:none; }
a { text-decoration:underline; }
a:focus, a:hover { text-decoration: none; }
.clear { clear:both; }
.over { overflow:hidden; height: 0; }
/*
a.bthover img { opacity: .80;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80); }
a.bthover:hover img { opacity: 100; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100); }
*/
.main { position:relative; margin:0 auto; width: 964px; background: #FFF; padding: 10px; }

.inner { width: 984px; margin: 0 auto; position: relative; }

.header { background:url(images/header1-bg1.png) repeat-x; height: 116px; position: relative; }
.header .inner { width: 960px; }
.header a.logo { position: absolute; top: 6px; left: 13px; }
.header .access { background: url(images/header1-access1.png) no-repeat; width: 514px; height: 37px; position: absolute; top: 0; right: 13px; }
.header .access ul { position: absolute; top: 5px; left: 88px; }
.header .access ul li { float: left; }
.header .access ul li.li1 { padding: 3px 95px 0 0; }
.header .access ul li.li1 input { width: 140px; padding: 2px; border: 0; }
.header .access ul li.li2 { padding: 3px 5px 0 0; }
.header .access ul li.li2 input { width: 135px; padding: 2px; border: 0; }

.header .menu { position: absolute; top: 85px; left: 10px; }
.header .menu ul { position: absolute; top: 0; left: 0; }
.header .menu ul li { float: left; }
.header .menu ul li a:hover img { opacity: 0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); }

.content {  }

.footer { background:url(images/header1-bg1.png) repeat-x; height: 116px; position: relative; }
.footer .inner { width: 960px; }
.footer a { color:#FFFFFF; }
.footer a.logo { position: absolute; left: 50%; top: 11px; margin: 0 0 0 -97px; }


.bigbox {}
.bigbox .bigbox-top { position: relative; height: 7px; border-top: 1px solid #898989; }
.bigbox .bigbox-top span.left { background: url(images/bigbox-t1-1.png) no-repeat; width: 8px; height: 8px; display: block; position: absolute; top: -1px; left: 0;  }
.bigbox .bigbox-top span.right { background: url(images/bigbox-t1-2.png) no-repeat; width: 8px; height: 8px; display: block; position: absolute; top: -1px; right: 0;  }
.bigbox .boxed { border-left: 1px solid #898989; border-right: 1px solid #898989; overflow: hidden; height: 1%; }
.bigbox .boxed h2 { padding: 10px 15px; font-size: 14px; color: #FFF; background: url(images/bigbox-h2-bg1.png) repeat-x; font-weight: bold; }
.bigbox .bigbox-bottom { position: relative; height: 7px; border-bottom: 1px solid #898989; }
.bigbox .bigbox-bottom span.left { background: url(images/bigbox-b1-1.png) no-repeat; width: 8px; height: 8px; display: block; position: absolute; bottom: -1px; left: 0; }
.bigbox .bigbox-bottom span.right { background: url(images/bigbox-b1-2.png) no-repeat; width: 8px; height: 8px; display: block; position: absolute; bottom: -1px; right: 0;  }

.lists { padding: 2px 10px; }
.lists ul li { float: left; width: 176px; padding: 0.66em 0.56em; }
.lists ul li a.person img { border: 2px solid #004473; }
.lists ul li a.person2 img { border: 2px solid #004473; max-height: 121px; overflow: hidden; vertical-align:baseline;}
.lists ul li a.person:hover img { border: 2px solid #f2bb00; }
.lists ul li div.desc { position: relative; }
.lists ul li div.desc a { color: #004473; font-weight: bold; text-decoration: none; display: block; }
.lists a.viewall { color: #000; font-weight: bold; text-decoration: underline; float: right; font-size: 12px; }
.lists a.viewall:hover { text-decoration: none; }
.lists ul li span.livecam { background: url(images/icon-livecam.png) no-repeat; width: 36px; height: 34px; display: block; position: absolute; top: 10px; right: 0; }

.prefooter {}
.prefooter .p1 { font-size: 26px; line-height: 26px; font-weight: bold; text-align: center; text-transform: uppercase; padding: 15px 0 12px 0; }
.prefooter .p1 a { color: #053861; text-decoration: none; }
.prefooter .p1 a span { text-decoration: underline; }
.prefooter .p1 a:hover { color: #f2bb00; } 
.prefooter .p3 { font-size: 21px; line-height: 24px; font-weight: bold; text-align: center; text-transform: uppercase; padding: 15px 0 12px 0; }
.prefooter .p3 a { color: #053861; text-decoration: none; }
.prefooter .p3 a span { text-decoration: underline; }
.prefooter .p3 a:hover { color: #f2bb00; } 
.prefooter .col1 { border-right: 1px solid #898989; width: 420px; float: left; }
.prefooter .col1 h1 { padding: 10px 0 10px 20px; }
.prefooter .col1 .box { position: relative; padding: 10px 0 15px 20px; }
.prefooter .col1 .box ul { position: absolute; left: 75px; top: 10px; color: #287aac;}
.prefooter .col1 .box ul li { padding: 0 0 25px 0; }
.prefooter .col1 .box ul li strong { display: block; color: #053861; }
.prefooter .col2 { float: left; width: 541px; }
.prefooter .col2 .l1 { padding: 25px 0 10px 0; width: 459px; margin: 0 auto; }
.prefooter .col2 .l2 { font-size: 38px; line-height: 38px; text-align: center; padding: 15px 0; color: #053861; text-transform: uppercase; font-weight: bolder; }
.prefooter .col2 .l3 { width: 452px; margin: 0 auto; padding: 10px 0 20px 0; }
.prefooter .col2 .bt { padding: 25px 0; background: #eaf8ff; }
.prefooter .col2 .bt a { float: left; margin: 0 0 0 58px; }
.prefooter .p2 { padding: 15px 0 15px 0; text-transform: uppercase; text-align: center; color:#666;}
.prefooter .p2 a { color:#000; }

.box1 {  }
.box1 .col1 { width: 649px; position: relative; float: left; }
.box1 .col1 a.bt1 { position: absolute; left: 385px; top: 268px; }
.box1 .col2 { width: 305px; float: right; } 
.col2 select {font-size:10px;}
.search .title { width: 244px; margin: 0 auto; padding: 8px 0 12px 0; }
.search ul li.li1 { height: 25px; padding: 12px 0 10px 0; background: #f8fafb; color: #094566; }
.search ul li.li1 label { float: left; width: 92px; padding: 4px 10px 0 0; text-align: right; }
.search ul li.li1 select { float: left; background: #FFF; width: 140px; }
.search ul li.li2 { height: 25px; padding: 12px 0 10px 0; color: #094566; }
.search ul li.li2 label { float: left; width: 92px; padding: 4px 10px 0 0; text-align: right; }
.search ul li.li2 select { float: left; background: #FFF; width: 140px; }
.search ul li.li3 { height: 25px; padding: 12px 0 10px 0; background: #f8fafb; color: #094566; float: left; width: 162px; }
.search ul li.li3 label { float: left; width: 92px; padding: 0px 10px 0 0; text-align: right; line-height: 11px; }
.search ul li.li3 select { float: left; background: #FFF; width: 53px; }
.search ul li.li4 { height: 25px; padding: 12px 0 10px 0; background: #f8fafb; color: #094566; float: left; width: 141px; }
.search ul li.li4 label { float: left; width: 24px; padding: 4px 10px 0 0; text-align: right; }
.search ul li.li4 select { float: left; background: #FFF; width: 53px; }
.search ul li.li5 { height: 25px; padding: 12px 0 10px 0; color: #094566; }
.search ul li.li5 label { float: left; width: 92px; padding: 4px 10px 0 0; text-align: right; }
.search ul li.li5 select { float: left; background: #FFF; width: 140px; }
.search ul li.li6 { height: 25px; padding: 12px 0 10px 0; background: #f8fafb; color: #094566; float: left; width: 142px; }
.search ul li.li6 label { float: left; width: 52px; padding: 4px 10px 0 0; text-align: right; }
.search ul li.li6 select { background: #FFF; width: 75px; }
.col2 .search ul li.li7 { height: 25px; padding: 12px 0 10px 0; background: #f8fafb; color: #094566; float: left; width: 141px; }
.col2 .search ul li.li7 label { float: left; width: 78px; padding: 4px 10px 0 0; text-align: right; line-height: 11px; }
.col2 .search ul li.li7 input { float: left; background: #FFF; width: 42px; font-size:10px; }
.col2 .search ul li.li8 {}
.col2 .search ul li.li8 input { margin: 10px 0 0 74px; }

.box2 { padding: 10px 0 0 0; }

.join-grid1 { float: left; width: 482px; }
.join-grid2 { float: right; width: 472px; }

.box3 { width: 482px; }
.box3 .signup {}
.box3 .signup h1 { display: block; padding: 10px 0 10px 20px; font-size: 19px; line-height: 19px; color: #2b6495; font-weight: bolder; }
.box3 .signup h1 strong { color:#000; }
.box3 .signup div.person { float: left; width: 118px; padding: 0 0 0 7px; }
.box3 .signup div.desc { float: right; width: 347px; }
.box3 .signup div.desc h3 { color: #003152; font-size: 14px; font-weight: bold; background: #e1eaf0; padding: 7px 10px; }
.box3 .signup div.desc h3 span { float: right; font-size: 12px; }
.box3 .signup div.desc p { display: block; padding: 8px 0 0 10px; }

.box4 { width: 482px; padding: 10px 0 0 0; }
.box4 .form h1{ background: #ebf8ff; padding: 8px 15px; margin: 10px 0 0 0; }

.box5 { width: 472px; }
.box5 .faq { }
.box5 .faq h1 { background: #ebf8ff; padding: 8px 15px; margin: 15px 0 0 0; }
.box5 .faq ul { padding: 0 0 15px 0; }
.box5 .faq ul li { padding: 19px 15px; font-size: 13px; line-height: 16px; }
.box5 .faq ul li strong { display: block; font-size: 16px; padding: 0 0 10px 0; }
.box5 .faq ul li.lbg { background: #f4f4f4; }

.box6 { width: 482px; }
.logged div.title { text-align: center; height: 35px; background: #ebf8ff; }
.box6 .logged div.title img { padding: 8px 0 0 0; }
.box6 .logged div.person { float: left; width: 482px; }
.box6 .logged div.person ul { padding:  10px 0 0 33px; }
.box6 .logged div.person ul li { float: left; padding: 0 26px 0 0; width: 86px; }
.box6 .logged div.person ul li img { margin: 0 0 0 1px; border: 2px solid #003152; }
.box6 .logged div.person ul li p { font-size: 11px; font-weight: bold; color: #003152; }
.box6 .logged div.title2 { text-align: center; padding: 10px 0; }

.box7 {}
.box7 .search { }
.box7 .search .col1 { float: left; width: 419px; }
.box7 .search .col1 div.title { text-align: center; }
.box7 .search .col1 div.title2 { text-align: center; padding: 10px 0; }
.box7 .search .col1 .search2 ul li.li1 { height: 25px; padding: 12px 0 10px 0; background: #f8fafb; color: #094566; }
.box7 .search .col1 .search2 ul li .p1 { float: left }
.box7 .search .col1 .search2 ul li .p1 p { display: block; }
.box7 .search .col1 .search2 ul li.li1 label { float: left; width: 190px; padding: 4px 10px 0 0; text-align: right; font-weight: bold; font-size: 14px; }
.box7 .search .col1 .search2 ul li.li2 { padding: 5px 0 0 0; background: #cadce8; color: #094566; }
.box7 .search .col1 .search2 ul li.li2 label { float: left; width: 155px; padding: 4px 10px 0 0; text-align: right; line-height: 11px; font-weight: bold; }
.box7 .search .col1 .search2 ul li.li2 select { float: left; background: #FFF; width: 125px; }
.box7 .search .col1 .search2 ul li.li3 {}
.box7 .search .col1 .search2 ul li.li3 input { margin: 10px 0 0 140px; }
.box7 .search .col2 { float: right; width: 542px; border-left: 1px solid #a8a8a8; }
.box7 .search .col2 div.title { padding: 0 0 0 20px; }
.box7 .search .col2 div.title img { margin: 0 12px 0 0; }
.box7 .search .col2 ul { padding: 10px 0 0 22px; }
.box7 .search .col2 ul li { float: left; padding: 0 12px 10px 0; }
.box7 .search .col2 ul li img { border: 2px solid #0a3555; }
.box7 .search .col2 ul li p { text-align: center; color: #0f4068; font-size: 12px; }
.box7 .search .col2 ul li p span { font-weight: bold; }

.box8 {}
.box8 .testimonials {}
.box8 .testimonials .col1 { float: left; width: 655px; }
.box8 .testimonials .col1 div.title { padding: 10px 16px; }
.box8 .testimonials .col1 div.subtitle { padding: 0 16px; }
.box8 .testimonials .col1 div.stories ul { position: relative; }
.box8 .testimonials .col1 div.stories ul li { display: block; }
.box8 .testimonials .col1 div.stories ul li.li1 { background: url(images/testimonials-success-bg1.jpg) no-repeat top center; height: 185px; position: relative; } 
.box8 .testimonials .col1 div.stories ul li.li1 .sample1 { float: left;} 
.box8 .testimonials .col1 div.stories ul li.li1 .sample1 img { margin: 10px 20px; border: 2px solid #025687; } 
.box8 .testimonials .col1 div.stories ul li.li1 .title1 { padding: 10px 0 0 0; } 
.box8 .testimonials .col1 div.stories ul li.li1 .title1 span { font-size: 16px; line-height: 18px; font-weight: bold; color: #094566; } 
.box8 .testimonials .col1 div.stories ul li.li1 p { font-size: 11px; line-height: 18px; font-family: Arial, Helvetica, sans-serif; position: absolute; top: 55px; left: 260px; width: 385px; } 
.box8 .testimonials .col1 div.stories ul li.li2 { background: url(images/testimonials-success-bg2.jpg) no-repeat top center; height: 185px; position: relative; } 
.box8 .testimonials .col1 div.stories ul li.li2 .sample2 { float: left; } 
.box8 .testimonials .col1 div.stories ul li.li2 .sample2 img { margin: 10px 20px; border: 2px solid #025687; } 
.box8 .testimonials .col1 div.stories ul li.li2 .title2 { padding: 10px 0 0 0; } 
.box8 .testimonials .col1 div.stories ul li.li2 .title2 span { font-size: 16px; line-height: 18px; font-weight: bold; color: #094566; } 
.box8 .testimonials .col1 div.stories ul li.li2 p { font-size: 11px; line-height: 18px; font-family: Arial, Helvetica, sans-serif; position: absolute; top: 55px; left: 260px; width: 385px; }
.box8 .testimonials .col2 { float: right; width: 305px; }
.box8 .testimonials .col2 div.title { text-align: center; }

.box8 .testimonials .title { width: 244px; margin: 0 auto; padding: 8px 0 12px 0; }
.box8 .testimonials ul li.li1 { height: 25px; padding: 12px 0 10px 0; background: #f8fafb; color: #094566; }
.box8 .testimonials ul li.li1 label { float: left; width: 92px; padding: 4px 10px 0 0; text-align: right; }
.box8 .testimonials ul li.li1 select { float: left; background: #FFF; width: 140px; }
.box8 .testimonials ul li.li2 { height: 25px; padding: 12px 0 10px 0; color: #094566; }
.box8 .testimonials ul li.li2 label { float: left; width: 92px; padding: 4px 10px 0 0; text-align: right; }
.box8 .testimonials ul li.li2 select { float: left; background: #FFF; width: 140px; }
.box8 .testimonials ul li.li3 { height: 25px; padding: 12px 0 10px 0; background: #f8fafb; color: #094566; float: left; width: 162px; }
.box8 .testimonials ul li.li3 label { float: left; width: 92px; padding: 0px 10px 0 0; text-align: right; line-height: 11px; }
.box8 .testimonials ul li.li3 select { float: left; background: #FFF; width: 53px; }
.box8 .testimonials ul li.li4 { height: 25px; padding: 12px 0 10px 0; background: #f8fafb; color: #094566; float: left; width: 141px; }
.box8 .testimonials ul li.li4 label { float: left; width: 16px; padding: 4px 10px 0 0; text-align: right; }
.box8 .testimonials ul li.li4 select { float: left; background: #FFF; width: 53px; }
.box8 .testimonials ul li.li5 { height: 25px; padding: 12px 0 10px 0; color: #094566; }
.box8 .testimonials ul li.li5 label { float: left; width: 92px; padding: 4px 10px 0 0; text-align: right; }
.box8 .testimonials ul li.li5 select { float: left; background: #FFF; width: 140px; }
.box8 .testimonials ul li.li6 { height: 25px; padding: 12px 0 10px 0; background: #f8fafb; color: #094566; float: left; width: 152px; }
.box8 .testimonials ul li.li6 label { float: left; width: 92px; padding: 4px 10px 0 0; text-align: right; }
.box8 .testimonials ul li.li6 select { float: left; background: #FFF; width: 43px; }
.box8 .testimonials ul li.li7 { height: 25px; padding: 12px 0 10px 0; background: #f8fafb; color: #094566; float: left; width: 151px; }
.box8 .testimonials ul li.li7 label { float: left; width: 28px; padding: 0px 7px 0 0; text-align: right; line-height: 11px; }
.box8 .testimonials ul li.li7 select { float: left; background: #FFF; width: 53px; }
.box8 .testimonials ul li.li8 {}
.box8 .testimonials ul li.li8 input { margin: 10px 0 0 74px; }

.box8 .testimonials .col2 .featured { width: 305px; float: right; }
.box8 .testimonials .col2 .featured div.title1 { text-align: center; }
.box8 .testimonials .col2 .featured ul { padding: 10px 0 0 0; }
.box8 .testimonials .col2 .featured ul li.li1 { background: url(images/testimonials-featured-bg1.jpg) repeat-y; }
.box8 .testimonials .col2 .featured ul li { height: 93px; margin: 7px 0; font-size: 11px; }
.box8 .testimonials .col2 .featured ul li span.pic { background:url(images/testimonials-featured-pic.gif) no-repeat left top; padding: 0 0 0 15px; display: block; }
.box8 .testimonials .col2 .featured ul li strong { font-size: 14px; display: block; }
.box8 .testimonials .col2 .featured ul li a { color: #005f9e; }
.box8 .testimonials .col2 .featured ul li .p1 { float: left; padding: 7px 0 0 3px; }

/*
 * 2010-07-27 
 */
.box8 .testimonials .col2 .featured ul li .sample { float: left; margin:7px 7px 7px 19px;border: 2px solid #025687; max-height:80px; overflow:hidden; }
* html .box8 .testimonials .col2 .featured ul li .sample { height:expression( this.scrollHeight > 79 ? "80px" : "auto" ); /* sets max-height for IE */ }
.box8 .testimonials .col2 .featured ul li .sample a img {  border:0 none; }
.box8 .testimonials .col2 .featured ul li .sample:hover { border: 2px solid #f2bb00; }


.box9 {}
.box9 .bigtitle { text-align: center; }
.box9 .why {}
.box9 .why ul {}
.box9 .why ul li {}
.box9 .why ul li .sample { padding: 10px 5px 5px 5px; float: left; width: 218px; }
.box9 .why ul li .sample img { border: 2px solid #025687; }
.box9 .why ul li .p1 { width: 457px; font-size: 11px; line-height: 15px; float: left; padding: 20px 0 0 15px; }
.box9 .why ul li .p1 h2 { display: block; padding: 0 0 5px 0; font-size: 16px; line-height: 18px; font-weight: bold; color: #094566; }
.box9 .why ul li .p2 { float: left; padding: 0 0 0 20px; font-size: 11px; line-height: 14px; font-weight: bold; color: #004473; border-left: 2px solid #f7d666; margin: 20px 0 0 20px; width: 220px; }
.box9 .why ul li .p2 dl { }
.box9 .why ul li .p2 dl dt { background: url(images/why-yes1.jpg) no-repeat 0 6px; display: block; padding: 5px 0 5px 16px; }
.box9 .why ul li .p2 dl dd { background: url(images/why-yes2.jpg) no-repeat 0 6px; display: block; padding: 5px 0 5px 16px; }

/*
 * 2011-04-11
 */
#search_result { text-align:center; position:relative; }
#search_result .sr_bg { background-image:url(graphics/land/home_search_result/topnav_bg.png); }
#search_result .sr_nav{ background-image:url(graphics/land/home_search_result/top_nav.png); margin:0 auto; width:967px; height:65px; }

/* override for suggested users used in the 'too short' or 'username is take' warning */
div#e { text-align: center; background: #fbdfdf!important;font-weight: bold;color: red;border: solid 1px red!important;padding: 4px 0 2px 2px;font-size: 12px;}
.alt_logins {color: #000;font-size: 12px;}
.alt_logins u {color: blue;margin: 2px;padding: 2px;font-size: 13px;cursor: pointer;display: inline-block;}
