
/*********FORM STYLE ASBOOTSTRAP***********/
#Fr1 #submit {
    display: block;
    width:100%;
    padding: 11px 12px;
    margin-bottom: 9px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
	color: #fff;
	background-color: #F421BB;
	border: none;
    }
    
    #Fr1 #submit:hover {
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
    color: #fff;
    background-color: #a61a80;
    }
    
    #Fr2 #submit {
    display: block;
    width:100%;
    padding: 15px 12px;
    margin-bottom: 9px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top,#62c462,#51a351);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
    background-image: -webkit-linear-gradient(top,#62c462,#51a351);
    background-image: -o-linear-gradient(top,#62c462,#51a351);
    background-image: linear-gradient(to bottom,#62c462,#51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }
    
    #Fr2 #submit:hover {
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
    color: #fff;
    background-color: #51a351;
    }
    
    div.msg #e {
        padding: 8px 35px 8px 14px;
        margin-bottom: 20px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        border: 1px solid #fbeed5;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #b94a48;
        background-color: #f2dede;
        border-color: #eed3d7;
        list-style: none;
    }    
    
    .msg {
	    color:red;
        font-size:12px
    }
    
    .sub {
	    font-size:12px;
    }
    
    .labelcheck {
        font-size:10px;
    }
    
    .myD {
    width:100%;
    padding: 4px 12px;
    margin-bottom: 0;
    margin-top: -10px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #5bb75b;
    background-image: -moz-linear-gradient(top,#62c462,#51a351);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#62c462),to(#51a351));
    background-image: -webkit-linear-gradient(top,#62c462,#51a351);
    background-image: -o-linear-gradient(top,#62c462,#51a351);
    background-image: linear-gradient(to bottom,#62c462,#51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462',endColorstr='#ff51a351',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }
    
    .myD:hover {
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear;
    color: #fff;
    background-color: #51a351;
    }
    
.err {
border: solid 1px red!important;
color: red!important;
}
.err a {
    color: red!important;
}

#e, .e {
background: #fbdfdf!important;
font-weight: bold;
color: red;
border: solid 1px red!important;
padding: 5px;
padding-right: 0px!important;
padding-left: 5px!important;
}

#display_login #e, .e {
background: #fbdfdf!important;
font-weight: bold;
font-size:12px;
color: red;
border: solid 1px red!important;
padding: 8px;
line-height:normal;
padding-right: 0px!important;
padding-left: 1px!important;
text-align: center;
}

.alt_logins {
	color: black;
}

.alt_logins u {
	color: blue;
	cursor: pointer;
}

input.error {
border: solid 1px red;
}
input.error {
border: solid 1px red;
background: #FDE8E9;
}

#Fr1 select[name="day"] {

}


.footer{display: none!important;}
#footer {display: none;}
#pop_login {display: none;}










.form-horizontal .controls {
		margin-left: 70px!important;
	}
	
	/* override*/
	.as_r {
		margin-top:0px;
	}
    
    #Fr1 b {
        font-size:12px;
    }
    
    #displayName {
        margin-bottom:10px;
        content: "";
        clear:both;
    }
    
    #displayName b {
        display: inline-block;
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: 700;
    }
    
    #displayName p {
		margin-bottom: 2px;
	}
    
    #displayName input {
        display: block;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    
    .pwd_p {
        margin-bottom:2px;
        content: "";
        clear:both;
    }
    
    .pwd_p b {
        display: inline-block;
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: 700;
    }
    
    .pwd_p input {
        display: block;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
	
    
    .email_p {
        margin-bottom:2px;
        content: "";
        clear:both;
    }
    
    .email_p b {
        display: inline-block;
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: 700;
    }
    
    .email_p input, .p_mobile input {
        display: block;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    
    .iam_p {
        margin-bottom:10px;
        content: "";
        clear:both;
    }
    
    .iam_p b {
        display: inline-block;
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: 700;
    }
    
    .iam_p select, .p_i_am_p select, .seeking select {
        display: block;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    
    .p_bday {
        margin-bottom:10px;
        content: "";
        clear:both;
    }
    
    .p_bday b {
		display: block;
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: 700;
    }
    
    .p_bday select {
        display: inline-block;
		width: 32%!important;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    
    
    .pr_Headline_p {
        margin-bottom:2px;
        display:table;
        line-height:20px;
        content: "";
        clear:both;
    }
    
    .pr_Headline_p input {
        width:360px;
    }
    
    .about_p {
        margin-bottom:10px;
        display:table;
        line-height:20px;
        content: "";
        clear:both;
    }
    
    .about_p small {
        font-size:12px
    }
    
    .about_p textarea {
		display: block;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    
    
    #Fr2 p {
	margin-bottom: 10px;
	content: "";
	clear: both;
	display: block;
    }

    #Fr2 p select {
        width:370px
    }
    
    .addr_p b {
        display:inline-block!important;
    }
    
    .addr_p input {
        width:360px;
        display:block;
    }
    
    
    #Fr2 p strong {
	    display: block;
		max-width: 100%;
		margin-bottom: 5px;
		font-weight: 700;
    }
    
    #Fr2 p select {
        width:370px
    }
    
    .addr_p b {
        display:inline-block!important;
    }
    
    .addr_p input {
        width:360px;
        display:block;
    }
    
    #Fr2 input {
		display: block;
		width: 100%;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    
    #Fr2 p select {
		display: block;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }
    
    #Fr2 p b {
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
    }
    
    .addr_p span {
        float:left;
        width:115px
    }
    
    .pr_Headline_p br {
        display:none;
    }
    
    kbd.city input{
	    margin-bottom: 10px;
    }
    
    .small_two {
        display:none;
    }
    
    kbd span {
        color:transparent;
        display:none;
        
    }
    
    kbd.state input {
        margin-bottom: 10px;
    }
    
    kbd.zip input {
        
    }
    
    span.labelcheck br {
		display:none;
	}
	
	p.agree {
	    text-align: center;
    }

    input:focus, textarea#e:focus {
        color: #555 !important;
    }
    
    .p_mobile small.smallText {
	display:block;
    }
/*END ASBOOTSTRAP FORM STYLES*/
