#pgrid { background:url(images/bg1.jpg) repeat; background-size:contain; }
		@media handheld, only screen and (max-width: 767px) {html { background: url(images/bg1.jpg) 50% 50% repeat; background-size:175%; }}
		#Fr1 p.agree,#Fr1 p.agree span.disclosure{font-size:10px;line-height:normal;text-align:justify}
		#Fr1 p.agree{margin:10px auto}
		#Fr1 p.agree span.disclosure{margin:0 auto}
		#Fr1 p.agree span.disclosure a,#Fr1 p.agree span.disclosure a:hover{color:inherit;text-decoration:underline}
		#Fr2 p.p_mobile small{display:inline-block;margin-top:5px;font-size:10px;line-height:normal;text-align:justify}
		#Fr2 p.p_mobile small a,#Fr2 p.p_mobile small a:hover{color:inherit!important;text-decoration:underline}