.footer {display:none;}

/*FONT HIGHLIGHT COLOR*/
.as_mood {
	color: #FF0000;
}

/*BUTTONS COLOR*/
div.d_l4 div.btn.btn-default.mybutton input.radio:checked + label, .step.active, .btn-default_as, .btn-default_as:focus, #Fr2 #submit, .progress-bar-success, .btn-default_as:hover, .nav.nav-justified > li > a > img,.badge {
	background-color: #FF0000;
}

/*step 4 brighter hover color*/
.nav.nav-justified > li:hover > a > img {
	background: #FF0000;
}

/*DARKER HOVER COLOR*/
.btn-default_as.active, .open .dropdown-toggle.btn-default_as, .btn-default_as:active, #Fr2 #submit:hover {
	background-color: #980000;
}

#Fr2 #submit {
	border-color: initial;
	border-bottom-color: initial;
	background-image: none;
	background-repeat: no-repeat;
	border-color: transparent;
	filter: none;
}

.step.active {
    border-color: #FF0000;
}