/*AS BOOTSTRAP_CUSTOM - STYLE CSS SHEET*/

body {
	background-color: #33302F;
	height: 100%;
	-webkit-overflow-scrolling: touch!important;
	color: #fff;
	overflow-x: hidden;
	background: url(../images/texture.png);
	text-shadow:0 1px 0 rgba(0,0,0,.9);
}

.parent_row {
	width:100%;
}

.as_login_button {
	margin-top: 20px;
	text-decoration: none;
}

p.logo {
	margin-top: 3px;
}

p.logo img {
	width:209px; height:63px;
}

#pgrid {
    height:720px;	
	background:#000000;
	border-bottom:1px solid #fff;
	-webkit-box-shadow: 0px 0px 105px 2px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 105px 2px rgba(0, 0, 0, .8);
}

.well {
	background-color: #fff;
	border: 1px solid #dbdbdb;
}

.well_as {
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .2);
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, .2);
	background-color:rgba(0, 0, 0, 0.70);
	border: none;
	padding-top:0px;
	min-height:210px;
}

.freereg {
	margin-bottom:10px;
}

span#time {
	color:red;
}

.item.item1 h3 {
	font-size: 32px;
}

.item1 p {
	font-size: 18px;
}

.item.item3 p {
font-size:20px;
}

.item h2 {
	color: #ffffff;
	margin-bottom: 0px;
}

h2.head_bar {
	color: #15B106;
	font-size: 16px;
	background: #000000;
	margin-left: -19px;
	margin-right: -19px;
	margin-top:0px;
	padding: 5px;
	padding-bottom: 10px;
}

.as_mood {
	color: #FD216F;
}

.as_back_mood {
	background-color: #FD216F;
}

.white_font {
	color: #ffffff;
}

.as_header {
	background-color:rgba(0, 0, 0, 0.61);
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
	border: none;
}

.nav-center {
    margin:0;
    float:none;
}

a {
	color:#fff;
	text-decoration: underline;
}
.navbar-inner{
    text-align:center;
}

.nomarg {
	margin: 0px;
}

.nopad {
	padding: 0!important;
}

.nopad-left {
	padding-left: 0!important;
}

.nopad-right {
	padding-right: 0!important;
}

.nopad img {
	margin-bottom: 0px;
}

.navbar {
	margin-bottom: 0px;
}

.navbar-default {
	background-color: transparent;
	background-image: none;
	border: transparent;
}

#answers2 ol li {
	font-size: 16px;
}

.myr2 h4 {
	margin-bottom:20px;
}

.r2_headline span {
	color:#0cbdc9;	
}

/* custom form styles*/
.p_bday b, #displayName b, .email_p b {
	font-size: 24px!important;
	font-weight: 500!important;
}

.p_bday b {
	display: none;
}

h4, h5 {
	font-weight: bolder;
}

h4 small {
	color: #ffffff;
	font-size: 16px;
}

h5 {
	font-size: 18px;
}

.form-control {
	border-radius: 0px;
}

p.agree span.labelcheck.err {
	border:none!important;
}

b.pwd_b, p.p_mobile b, p.pr_Headline_p strong, p.about_p strong, p.marital_status b, p.body_type b, p.race b, p.p_country b, b.address_b {
	font-size: 26px!important;
	font-weight: 500!important;
	color: #fff;
}

p.pr_Headline_p {
	margin-bottom: 25px!important;
}

p.about_p strong {
	text-transform: capitalize;
}

.about_p textarea {
	height:80px!important;
}

div.msg #e {
	text-transform: capitalize;
}

span.labelcheck {
    padding-left: 10px;
}

.iam_p,.p_bday b,#displayName p,p.pwd_p,p.pr_Headline_p,.about_p,p.marital_status,p.body_type,p.race,p.p_mobile,p.p_country,p.addr_p {
	text-align:left;
}

.msg {
	clear:both;
}

#e {
	text-shadow:none;
}

/*as custom buttons*/
.btn {
	text-shadow:none;
}

.btn-default {
	color: #000;
	background-color: #fff;
	border: none;
	padding: 0px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
	color: #000;
	background-color: #f1fdfe;
}

.btn-primary {
	background-color: #d3d1d1;
	border-color: #bdbdbd;
	text-decoration: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-color: #C2C2C2;
	border-color: #a3a3a3;
}

.btn-default_as {
	color: #fff;
	background-color: #FD216F;
	border: none;
	border-radius: 0px;
	text-decoration: none;
}

.btn-default_as:hover, .btn-default_as.active, .open .dropdown-toggle.btn-default_as {
	color: #fff;
	background-color: #cc1655;
	border: none;
}

.btn-default_as:focus {
	color: #fff;
}

.btn-default_as:active {
	background-color: #961842;
}

/*bullets*/
[data-role="status-bar"] .col-xs-1, [data-role="status-bar"] .col-xs-2 {
    text-align: center;
    padding: 0;
    margin-top: 10px;
}

.step {
    border-radius: 20px;
    color: white;
    background: transparent;
    width: 40px;
    height: 40px;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    border: 3px solid #fff;
}

.step.active {
	background: #2BD904;
	border-color: #2BD904;
}

.bullets {
    position: relative;
    z-index: 100;
}

.badge {
    padding: 6px 7px;
    border-radius: 14px;
}

small, .small {
	font-size: 82%;
}

.progress-bar.active, .progress.active .progress-bar {
    -webkit-animation-direction: reverse;
	animation-direction: reverse;
}

@media handheld, only screen and (max-width: 767px) {

	body {
		background-color:transparent!important;
		background-image:none!important;
	}

	p.logo img {
		width:180px; height:54px;
	}
	
	#as_footer {
	background: rgba(0, 0, 0, 0.70);
	}
	
	
	#pgrid {
	background-image:none!important;
	box-shadow:none!important;
	}
	
	h3.white_font {
    display:none;
    }
	
}
.step.active {
    background: #FD216F;
    border-color: #FD216F;}