#result .msg-box .user-small {
	background:url(image/user_profile.png)no-repeat;
}
.content .left, .cover-up {
	background:url(image/4.jpg)no-repeat;
}
@media (max-width:550px) {
.content .left, .cover-up {
	background:url(image/4.jpg)no-repeat;
}
}
#Fr1 p.agree,#Fr1 p.agree span.disclosure{font-size:10px;line-height:normal;text-align:justify}
#Fr1 p.agree{margin:10px auto}
#Fr1 p.agree span.disclosure{margin:0 auto}
#Fr1 p.agree span.disclosure a,#Fr1 p.agree span.disclosure a:hover{color:inherit;text-decoration:underline}
#Fr2 p.p_mobile small{display:inline-block;margin-top:5px;font-size:10px;line-height:normal;text-align:justify}
#Fr2 p.p_mobile small a,#Fr2 p.p_mobile small a:hover{color:inherit;text-decoration:underline}
#Fr2 p.p_mobile{margin-bottom:0}
@media (max-width: 600px) {
#Fr1 p.agree{width:88%!important}
#Fr2 p.p_mobile small{width:98%!important;margin:5px auto 0}
}